<%
   issues_measure = measure('mantis_issues')
   priorities_measure = measure('mantis_issues_priorities')
   status_measure = measure('mantis_issues_status')

   if issues_measure
%>
  <table width="100%">
    <tr>
    <td width="50%" valign="top">
      <div class="dashbox">
        <p class="title">Mantis Issues</p>
        <span class="big">
          <p>
            <%= format_measure(issues_measure, {:url => issues_measure.url}) -%>
            <%= dashboard_configuration.selected_period? ? format_variation(issues_measure) : trend_icon(issues_measure) -%>
          </p>
        </span>
      </div>
    </td>
    <td valign="top">
      <div class="dashbox">
        <p class="title">By Priority</p>
        <table>
          <% priorities_measure.data.split(";").each do |priority_with_size|
            priority_with_size_array = priority_with_size.split("=") %>
            <tr>
              <td align="left">
                <%= priority_with_size_array[0] -%>
              </td>
              <td align="right" style="padding-left: 10px;">
                <%= priority_with_size_array[1] -%>
              </td>
              <td align="left" style="padding-left: 10px;">
                <span style='width:100%'><ul class='hbar' style='float: right;'><li style='background-color: rgb(119, 119, 119); width: <%= (priority_with_size_array[1].to_f * 100 / priorities_measure.value.to_f ).ceil -%>%'>&nbsp;</li></ul></span>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </td>
    <td valign="top">
      <div class="dashbox">
        <p class="title">By Status</p>
        <table>
          <% status_measure.data.split(";").each do |status_with_size|
            status_with_size_array = status_with_size.split("=") %>
            <tr>
              <td align="left">
                <%= status_with_size_array[0] -%>
              </td>
              <td align="right" style="padding-left: 10px;">
                <%= status_with_size_array[1] -%>
              </td>
              <td align="left" style="padding-left: 10px;">
                <span style='width:100%'><ul class='hbar' style='float: right;'><li style='background-color: rgb(119, 119, 119); width: <%= (status_with_size_array[1].to_f * 100 / status_measure.value.to_f ).ceil -%>%'>&nbsp;</li></ul></span>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </td>
    </tr>
  </table>
<% end %>
